:root{
    /* primary color */
    --pri: #000;
    /* secondary color */
    --sec: #fff;
    --inv : 0%;
}
*{
    margin:0;
    padding:0;
    transition: all ease-in-out 0.3s;
    font-family: 'Courier New', Courier, monospace;
    color: var(--pri);
    background-color: var(--sec);
    /* background: red; */
}
img{
    filter: invert(var(--inv));
    background: none;
}
.cont{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 20vw;
    height: auto;
    padding: 20px 100px 30px 100px;
    border: 1px solid var(--pri);
    transform: translate(-50%,-50%);
}
.ipt{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.ipt label{
    margin: 15px 0px 2px 0px;
}
.ipt input{
    height: 1.5rem;
    border: none;
    border-bottom: 1px solid var(--pri);
    /* border-radius: 30px; */
    padding-left: 10px;
}
.submit{
    display: flex;
    justify-content: space-evenly;
}
.submit input{
    display: flex;
    align-items: center;
    height: 40px;
    font-size: 1rem;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: var(--pri);
    color: var(--sec);
    margin: 10px 0px 5px 0px;
}
.submit input:hover{
    border: 1px solid var(--pri);
    background-color: var(--sec);
    color: var(--pri);
    cursor: pointer;
}
.links{
    display: flex;
    justify-content: space-evenly;
}
.links a{
    all:unset;
    cursor: pointer;
}
.links a:hover{
    transform: scale(1.1);
}
.navbar{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.user_name{
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.user_unit{
    font-size: 1.5rem;
    font-weight: 600;
}
.nav_link{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0px 0px 0px;
    width: 10%;
    cursor: pointer;
}
.nav_link:hover{
    transform: rotate(5deg);
}
.nav_link img{
    margin-left: 40%;
    width: 20%;
    margin-bottom: 5px;
}
.title:hover{
    cursor: pointer;
    transform: scale(1.01);
}
.cont table{
    width: 100%;
    border: 1px solid var(--pri);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 3%;
}
.cont table th, .cont table td{
    border-bottom: 1px solid var(--pri);
    border-right: 1px solid var(--pri);
    padding: 10px;
}
.cont table td select, .cont table td input, .cont table td button, .cont table td span{
    font-size: 1.2rem;
    padding: 5px;

}
.cont table td button, .cont table td input[type='submit']{
    background-color: var(--pri);
    color: var(--sec);
    border-radius: 20px;
    padding: 5px;
}
.cont table td button:hover, .cont table td input[type='submit']:hover{
    border: 1px solid var(--pri);
    background-color: var(--sec);
    color: var(--pri);
    cursor: pointer;
}
.admin_table_section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    width: 100%;
    height: fit-content;
}
.admin_table_div{
    display: flex;
    gap: 30px;
    margin-top: 60px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#table_area{
    height: fit-content;
}
#table {
    width: 100%;
    background: var(--pri);
    border: solid 2px var(--pri);
}
#tableRow {
    width: fit-content;
    height: 60px;
}
#tableData {
    padding-left: 10px;
}
#adminEdit {
    height: inherit;
}
.adminEditBtn {
    width: 60%;
    height: 50%;
    border: solid 1px rebeccapurple;
    border-radius: 10px;
    color: rebeccapurple;
    background: var(--sec);
}
.adminEditBtn:hover{
    background: rebeccapurple;
    color: var(--sec);
}
#adminDelete {
    height: inherit;
}
#adminDeleteBtn {
    width: 60%;
    height: 50%;
    border: solid 1px red;
    border-radius: 10px;
    color: red;
    background: var(--sec);
}
#adminDeleteBtn:hover{
    border: solid 1px red;
    background: red;
    color: var(--sec);
}
#tableChoose {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    height: fit-content;
    width: 100%;
    background-color: red;
}